
main{
    overflow: hidden;
    position: relative;
}
.Main_Conatiner{
    width: 100%;
    /* top margin */
    margin: 8rem 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.Main_Conatiner img {
    display: block;
}
.Main_Conatiner img[alt="GDSCLogoText"]{
    max-width: 400px;
}

.Main_Conatiner img[alt="GDSCLogo"]{
    width: 90px;
    margin-bottom: 0.2rem;
}
.Main_Conatiner h2 {
    color: #3c4043;
    width: min(42rem,90%);
    margin: 2rem auto 0 auto;
    font-size: 2rem;
    letter-spacing: 1px;
}
.Main_Conatiner p {
    font-size: 18px;
    color: #5f6368;
    margin: 2rem auto;
}


@media screen and (max-width: 800px) {
    .Main_Conatiner h2{
    font-size: 1.5rem;

    }
    .Main_Conatiner img {
        width: 100%;
        padding: 0px 0.5rem;
    }
}

.desc{
    max-width: 900px;
}