.Footer_Social i{
    font-size: 1.5rem;
    padding: 1rem;
}
.Footer_Social{
    border-top: solid #333 2px ;
    padding: 3rem;
}

i{
    cursor: pointer;
    transition: all 0.7s ease-out;
}
i:hover{
    transform: scale(1.3);
    

}